.wrapper {
  background: url(./assets/bg.jpg) no-repeat center;
  background-size: cover;
}

.phone {
  background: url(./assets/mbg.jpg);
  background-size: cover;
}
.phone {
  width: 350px;
  height: 600px;
}
.phone::-webkit-scrollbar {
  display: none;
}

.notification {
  background-color: rgba(0, 0, 0, 0.222);
}

.sliderContainer {
  top: 400px;
  background: rgba(250, 246, 246, 0.545);
}

.slider {
  appearance: none;
  background-color: transparent;
  z-index: 99;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  /* background: radial-gradient(rgb(179, 79, 79), rgb(30, 30, 239)); */
  width: 30px;
  height: 30px;
  border-radius: 50%;

  background: url(./assets/arrow-right-circle.svg);
  background-size: cover;
}
.slider-label {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  pointer-events: none;
}

#appScreen {
  background-color: rgba(255, 228, 196, 0.68);
  backdrop-filter: blur(1px);
}

#contactListScreen {
  background-color: rgba(255, 228, 196, 0.68);
  backdrop-filter: blur(1px);
}
.searchIcon {
  top: 14px;
  right: 19px;
}

.icon {
  cursor: pointer;
}

#notification {
  position: sticky;
  top: 0px;
  z-index: 999;
}
